@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

html {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}
main {
  overflow-x: hidden;
}
.green-cta {
  @apply xl:min-w-[180px] rounded-3xl cursor-pointer font-semibold py-[10px] px-4 border-none bg-primary text-white;
}
.blue-cta {
  @apply xl:min-w-[180px] rounded-3xl cursor-pointer font-semibold px-6 py-[10px] border-none bg-secondary text-white justify-center items-center;
}

.white-cta {
  @apply xl:min-w-[180px] rounded-3xl border-2 border-secondary cursor-pointer font-semibold py-[10px] px-4 bg-white text-secondary;
}

.section-title {
  @apply text-primary font-serif text-4xl;
}

.section-subtitle {
  @apply font-sans text-2xl font-bold;
}
