---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import CustomSlider from "../components/CustomSlider";
import Hero from "../components/Hero.astro";
import Specializations from "../components/Specializations.astro";
import "@fontsource-variable/dm-sans";
import "@fontsource/bebas-neue";
---

<Layout>
  <main>
    <Header client:load />
    <Hero />
    <CustomSlider client:load />
    <Specializations />
  </main>
</Layout>
