---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import CustomSlider from "../components/CustomSlider";
import Hero from "../components/Hero.astro";
---

<Layout>
  <main>
    <Header client:load />
    <Hero />
    <CustomSlider client:load />
  </main>
</Layout>
