---
import Layout from "../layouts/Layout.astro";
import RenderCardsList from "@/components/RenderCardsList";
const title = "I NOSTRI SPECIALISTI";
---

<Layout>
  <section class="bg-secondary py-20">
    <h1 class="text-primary text-center font-serif text-[80px] pb-6 pt-6">
      {title}
    </h1>
    <h2 class="text-2xl text-center leading-9 font-sans text-white pb-20 px-20">
      I nostri <strong>medici specialisti</strong>, operanti in vari ambiti della medicina, sono
      <strong>professionisti altamente qualificati e competenti</strong>.
    </h2>
    <RenderCardsList isMainPage={false} client:load />
  </section>
</Layout>
