---
import Layout from "../layouts/Layout.astro";
import RenderCardsList from "@/components/RenderCardsList";
const title = "I NOSTRI SPECIALISTI";
---

<Layout>
  <section class="bg-secondary py-20">
    <h1 class="text-primary text-center font-serif text-[80px] pb-6">
      {title}
    </h1>
    <h2 class="text-2xl text-center leading-9 font-sans text-white pb-20 px-20">
      I nostri medici, operanti in svariati ambiti specialistici, sono
      professionisti qualificati e competenti, pronti a rispondere a tutte le
      tue esigenze.
    </h2>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 mx-auto gap-8 px-6 md:px-20"
    >
      <RenderCardsList isMainPage={false} client:load />
    </div>
  </section>
</Layout>
