---
interface Props {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props;
---

<div
  class="w-full text-secondary bg-secondary cursor-pointer font-bold leading-5"
>
  <div class="accordion-item text-primary">
    {question}
  </div>
  <div class="accordion-content text-white mt-4">
    {answer}
  </div>
</div>

<style>
  .accordion-content {
    display: none;
  }

  .accordion-item.active + .accordion-content {
    display: block;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const accordionItems = document.querySelectorAll(".accordion-item");

    accordionItems.forEach((item) => {
      item.addEventListener("click", () => {
        const element = item as HTMLElement;
        element.classList.toggle("active");
        const content = item.nextElementSibling as HTMLElement;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    });
  });
</script>
