---
import Accordion from "./Accordion.astro";

const faqs = [
  {
    question: "Come posso prenotare una visita?",
    answer:
      "Puoi prenotare una visita tramite il nostro sito, oppure chiamando il numero 331222675",
  },
  {
    question: "Come posso pagare una visita?",
    answer:
      "Puoi pagare una visita tramite il nostro sito, oppure chiamando il numero 331222675",
  },
  {
    question: "Come posso sapere il nome dei dottori disponibili?",
    answer:
      "Puoi sapere il nome dei dottori disponibili tramite il nostro sito, oppure chiamando il numero 331222675",
  },
];
---

<section id="faq" class="bg-secondary flex flex-col relative py-20">
  <div class="flex flex-col justify-between w-[90%] m-auto gap-4 text-white">
    <h2 class="section-title mb-4">FAQ</h2>
    <h3 class="section-subtitle">Hai qualche dubbio?</h3>
    <p>Qui trovi tutte le nostre risposte alle domande più frequenti</p>
    <div class="text-secondary flex flex-col gap-4 mt-4">
      {
        faqs.map((faq) => (
          <Accordion question={faq.question} answer={faq.answer} />
        ))
      }
    </div>
  </div>
</section>
