---
import { FaInstagram, FaLinkedin } from "react-icons/fa";
import { FiFacebook } from "react-icons/fi";
import logo from "../images/logo.svg";
import { Image } from "astro:assets";
---

<script>
  function updateBookingButtonPosition() {
    const bookingButton = document.getElementById("booking-button");
    const footer = document.querySelector("footer");
    const widgetText = document.getElementById("widget-text");
    const isDesktop = window.innerWidth > 768;

    if (!isDesktop && widgetText) {
      widgetText.textContent = "";
    }

    if (!isDesktop || !footer || !bookingButton) return;

    const footerRect = footer.getBoundingClientRect();
    const windowHeight = window.innerHeight;

    if (widgetText) widgetText.textContent = "Prenota online con";

    if (footerRect.top < windowHeight) {
      bookingButton.style.bottom = `${windowHeight - footerRect.top - 240}px`;
      bookingButton.style.right = "64px";
    } else {
      bookingButton.style.bottom = "16px";
      bookingButton.style.right = "32px";
    }
  }

  window.addEventListener("scroll", updateBookingButtonPosition);
  window.addEventListener("resize", updateBookingButtonPosition);
  document.addEventListener("DOMContentLoaded", updateBookingButtonPosition);
</script>

<footer class="bg-lightGreen py-8">
  <div class="flex flex-col md:flex-row justify-between w-[90%] m-auto gap-4">
    <div class="flex flex-col gap-4">
      <a aria-label="logo Centro Medico Agliana" href="/" class="mb-8">
        <Image src={logo} alt="Centro Medico Agliana Logo" loading="lazy" />
      </a>
      <div class="flex flex-col gap-4 text-secondary">
        <div class="text-sm">
          <p class="font-bold">
            Centro Medico Agliana SAS di Pastacaldi Paolo & C.
          </p>

          <p>Partita IVA: 01393880479</p>
          <p>Numero REA PT - 146792</p>
          <a
            aria-label="Scrivici una mail pec"
            href="mailto: centromedicoagliana@pec.it"
          >
            PEC: centromedicoagliana@pec.it
          </a>
        </div>
      </div>
      <div class="text-sm text-secondary">
        <p>Via Michelagelo Buonarroti, n.c. mancante, Agliana (PT)</p>
        <p>0574 02 70 87</p>
        <p>info@centromedicoagliana.it</p>
        <p>Lunedì - Venerdì 15:00 - 19:00</p>
      </div>
    </div>
    <div>
      <div
        class="flex flex-col gap-4 font-[1.2rem] text-secondary md:justify-between h-full"
      >
        <div id="socials-icons" class="flex gap-4">
          <a
            aria-label="Facebook"
            href="https://www.facebook.com/studiomedicoagliana"
            target="_blank"
            rel="noreferrer noopener"
          >
            <FiFacebook size={25} />
          </a>
          <a
            aria-label="Instagram"
            href="https://www.instagram.com/centromedicoagliana/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <FaInstagram size={25} />
          </a>
          <a
            aria-label="Linkedin"
            href="https://www.linkedin.com/company/centro-medico-agliana/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <FaLinkedin size={25} />
          </a>
          <a
            href="https://www.doctolib.it/centro-medico/agliana/centro-medico-agliana-sas-di-pastacaldi-paolo-c/booking?utm_campaign=website-button&utm_source=centro-medico-agliana-sas-di-pastacaldi-paolo-c-website-button&utm_medium=referral&utm_content=withoutpreview-blue-floating-bottom-right&utm_term=centro-medico-agliana-sas-di-pastacaldi-paolo-c"
            style="display:flex;text-align:center;background-color:#107ACA;color:#ffffff;font-size:14px;overflow:hidden;font-family:Roboto, sans-serif;box-sizing:border-box;align-items:center;padding:0 24px;z-index:1000;height:48px;text-decoration:none;position:fixed;bottom:16px;right:32px;border-bottom-left-radius:none;border-bottom-right-radius:none;border-top-left-radius:4px;border-top-right-radius:4px;border-radius:24px"
            target="_blank"
            id="booking-button"
          >
            <span id="widget-text">Prenota un appuntamento online</span>
            <img
              style="height:19px;vertical-align:middle;width:auto"
              src="https://pro.doctolib.it/external_button/doctolib-white-transparent.png"
              alt="Doctolib"
            /></a
          >
        </div>

        <div id="policies" class="flex flex-col text-sm">
          <a aria-label="Privacy Policy" href="/privacy-policy">
            Privacy Policy
          </a>
          <a aria-label="Cookie Policy" href="/cookie-policy">
            Cookie Policy
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
