---
import { FiArrowDownCircle } from "react-icons/fi";
---

<section class="text-white text-center bg-primaryLight py-20">
  <div
    class="flex flex-col justify-center items-center bg-primary-light text-secondary"
  >
    <h1 class="font-serif text-secondary text-customClamp mb-4">
      CENTRO MEDICO AGLIANA
    </h1>
    <h2
      class="font-dmsans max-w-[90%] lg:max-w-[70%] text-xl mb-10 lg:mb-8 text-darkBlue"
    >
      Siamo uno studio privato che ospita professionisti operanti in varie
      discipline mediche
    </h2>
    <div class="green-cta">
      <a href="tel:0574027087"> CHIAMA ORA! </a>
    </div>
  </div>
</section>
