---
import { FaMapMarkerAlt } from "react-icons/fa";
import { MdOpenInNew, MdWatch, MdWatchLater } from "react-icons/md";
---

<script>
  const openGoogleMaps = () => {
    window.open(
      "https://maps.app.goo.gl/vwhCbpj6a6aBzzmH6",
      "_blank",
      "noopener,noreferrer"
    );
  };

  document.getElementById("mapLink")?.addEventListener("click", (event) => {
    event.preventDefault();
    openGoogleMaps();
  });
</script>

<section id="dove-siamo" class="flex flex-col relative py-20">
  <div
    class="w-[90%] m-auto flex flex-col lg:flex-row justify-between mx-auto gap-3"
  >
    <div class="flex flex-col gap-4 pb-8 lg:w-1/2">
      <h2 class="section-title mb-4">Dove siamo</h2>
      <h3 class="section-subtitle text-darkBlue mb-4">
        Siamo ad Agliana, tra Prato e Pistoia, vicini all&apos;uscita
        dell&apos;autostrada A11
      </h3>
      <div class="flex items-center gap-1 text-darkBlue">
        <button class="bg-opacity-0 border-none grid place-content-center">
          <FaMapMarkerAlt size={20} />
        </button>
        <p class="text-lg font-sans">
          Via Michelagelo Buonarroti, n.c. mancante, Agliana (PT)
        </p>
      </div>
      <div class="flex items-center gap-1">
        <span>
          <MdWatchLater size={20} />
        </span>
        <p class="text-lg font-sans">Lunedì - Venerdì 15:00 - 19:00</p>
      </div>
      <div class="flex items-center text-secondary font-bold">
        <a
          id="mapLink"
          class="inline-flex gap-1"
          href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2874.793570456051!2d11.01097547535706!3d43.901541971091454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132af51c952e35ff%3A0x9f40d897e8d92b8e!2sVia%20Michelangelo%20Buonarroti%2C%203%2C%2051031%20Agliana%20PT!5e0!3m2!1sit!2sit!4v1700825573878!5m2!1sit!2sit"
        >
          <span
            class="bg-opacity-0 border-none grid place-content-center cursor-pointer"
          >
            <MdOpenInNew size={20} />
          </span>
          <p class="text-lg font-sans">Come raggiungerci</p>
        </a>
      </div>
      
    </div>
    <div class="w-full lg:w-1/2">
      <iframe
        class="border-none"
        title="mappa"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2874.793570456051!2d11.01097547535706!3d43.901541971091454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132af51c952e35ff%3A0x9f40d897e8d92b8e!2sVia%20Michelangelo%20Buonarroti%2C%203%2C%2051031%20Agliana%20PT!5e0!3m2!1sit!2sit!4v1700825573878!5m2!1sit!2sit"
        width="100%"
        height="450"
        loading="eager"></iframe>
    </div>
  </div>
</section>
