<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Centro Medico Agliana</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --main-title: #212529;
    --primary: #6bd697;
    --background: #cef1dc;
    --secondary: #21137f; /* alternative #13347f */
    --primary-text: #21137f;
    --secondary-bg: white;
    --secondary-text: black;
    --focus-color: lightblue;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
