---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header";
import "@/styles/globals.css";
import "@fontsource-variable/dm-sans";
import "@fontsource/bebas-neue";
const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <script>
      (function (w: any, d: Document, s: string, l: string, i: string) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s) as HTMLScriptElement,
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        if (f.parentNode) f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MKWXQ487");
    </script>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script type="text/javascript">
      var _iub = _iub || [];
      _iub.csConfiguration = {
        siteId: 3774052,
        cookiePolicyId: 34164499,
        lang: "it",
      };
    </script>
    <script
      type="text/javascript"
      src="https://cs.iubenda.com/autoblocking/3774052.js"></script>
    <script
      type="text/javascript"
      src="//cdn.iubenda.com/cs/iubenda_cs.js"
      charset="UTF-8"
      async></script>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Studi medici con sede ad Agliana, specializzati in ginecologia, ortopedia, dermatologia, psicologia, osteopatia, senologia, urologia, podologia."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Centro Medico Agliana" />
    <meta
      name="keywords"
      content="centro medico agliana, ginecologia, ortopedia, dermatologia, psicologia, osteopatia, senologia, urologia, podologia"
    />
    <meta property="og:title" content="Il mio sito web" />
    <meta
      property="og:description"
      content="Studi medici con sede ad Agliana, specializzati in ginecologia, ortopedia, dermatologia, psicologia, osteopatia, senologia, urologia, podologia."
    />
    <meta property="og:url" content="https://centromedicoagliana.it" />
    <meta property="og:type" content="website" />
    <title>Centro Medico Agliana</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- Meta Pixel Code -->
    <script>
      //@ts-nocheck
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "3034564713360931");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=3034564713360931&ev=PageView&noscript=1"
      /></noscript
    >
    <!-- End Meta Pixel Code -->
  </head>
  <body>
  <main style="overflow-y: hidden;">
    <body>
      <!-- Google Tag Manager (noscript) -->
      <noscript
        ><iframe
          src="https://www.googletagmanager.com/ns.html?id=GTM-MKWXQ487"
          height="0"
          width="0"
          style="display:none;visibility:hidden"></iframe></noscript
      >
      <!-- End Google Tag Manager (noscript) -->
      <Header client:load pathname={pathname} />
      <slot />
      <Footer />
    </body>
  </main>
</html>
